:root {
    --border-size: 0.5px solid;
}
#container {
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
}

.yDiv {
    display: flex;
    flex-grow: 1;
    border-right: var(--border-size);
}
.xDiv {
    border-top: var(--border-size);
    border-left: var(--border-size);
    flex-grow: 1;
}